In [1]:
%run "read_db.py"
from ipynb.fs.full.read_db import ExtractData 
import datetime as dt
import time
from dateutil.relativedelta import relativedelta

In [2]:
extract = ExtractData()
t1=time.time()
df = extract.check_read()


# display(df)
df=extract.get_data_from_date_future('*','TimeSlots',dt.datetime.today())
# appoint_df=df.loc[(dt.datetime.today() < df['FromUtc'])]
# unique_rec=appoint_df['RecurringTimeSlotDefinitionId'].unique()
# appoint_df=appoint_df[appoint_df['RecurringTimeSlotDefinitionId'].isnull()]
# print('Non-Recurring Timeslots:'+str(df['RecurringTimeSlotDefinitionId'].isna().sum() ))
# print('Recurring Timeslots:'+str(len(df)-df['RecurringTimeSlotDefinitionId'].isna().sum()))
# print(len(df.loc[df['RecurringTimeSlotDefinitionId'].astype(str).str.isnumeric()]))
# # df.boxplot()
# df.plot()
# df.describe()

In [11]:
df2=df[(df['TimeSlotType']==0)]
print(df2.shape)

(11355, 39)

In [8]:
display(df2)
df2['EmployeeId'].value_counts().head(10)

,Id,TimeSlotType,EmployeeId,RelationId,ProductId,FromUtc,UntilUtc,BreakFromUtc,BreakUntilUtc,CreatedOnUTC,...,SalaryStatus,SourceSystem,StatusAccordingToRelation,CreatedFromObjectsJson,UnApproveIsBlockedByExternalApplication,OnActionListEmployees,OnActionListRelations,TrackAndTraceCode,RouteId,AfasId
45,17907,0,4605,996,43,2022-06-27 09:05:00,2022-06-27 11:05:00,NaT,NaT,2020-02-07 20:10:00.799549400,...,0,0,0,None,False,False,False,None,<NA>,<NA>
46,17908,0,4605,996,43,2022-06-27 07:00:00,2022-06-27 09:00:00,NaT,NaT,2020-02-07 20:10:00.799549000,...,0,0,0,None,False,False,False,None,<NA>,<NA>
54,17935,0,4605,996,43,2022-06-28 10:30:00,2022-06-28 13:30:00,NaT,NaT,2020-02-07 20:10:00.799549900,...,0,0,0,None,False,False,False,None,<NA>,<NA>
55,17936,0,4605,996,43,2022-06-29 09:00:00,2022-06-29 11:00:00,NaT,NaT,2020-02-07 20:10:00.799550500,...,0,0,0,None,False,False,False,None,<NA>,<NA>
56,17949,0,4605,996,43,2022-06-29 07:00:00,2022-06-29 08:30:00,NaT,NaT,2020-02-07 20:10:00.799550200,...,0,0,0,None,False,False,False,None,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17575,4205741,0,7638,996,43,2022-06-09 10:00:00,2022-06-09 12:00:00,NaT,NaT,2022-04-05 07:48:32.385058200,...,0,0,0,None,False,False,False,None,<NA>,<NA>
17578,4205744,0,7638,996,43,2022-06-23 10:00:00,2022-06-23 12:00:00,NaT,NaT,2022-04-05 07:48:32.385058200,...,0,0,0,None,False,False,False,None,<NA>,<NA>
17581,4205747,0,7638,996,43,2022-06-16 10:00:00,2022-06-16 12:00:00,NaT,NaT,2022-04-05 07:48:32.385058200,...,0,0,0,None,False,False,False,None,<NA>,<NA>
17583,4205749,0,7638,996,43,2022-06-20 07:00:00,2022-06-20 09:00:00,NaT,NaT,2022-04-05 07:48:32.385058200,...,0,0,0,None,False,False,False,None,<NA>,<NA>
17585,4205751,0,7638,996,43,2022-06-22 07:00:00,2022-06-22 09:00:00,NaT,NaT,2022-04-05 07:48:32.385058200,...,0,0,0,None,False,False,False,None,<NA>,<NA>

4643     29
18993    28
4634     24
7376     22
7415     21
7501     20
4661     20
4641     20
7286     18
6181     17
Name: EmployeeId, dtype: Int64

In [7]:
display(extract.get_contract_information_on_id_2('4643'))

,Id,FromUtc,UntilUtc,NumberOfHoursPerWeek,AverageNumberOfHoursPerMonth,AverageNumberOfHoursPerYear,NumberOfExtensions,CreatedOnUTC,ModifiedOnUTC,Timestamp,EmploymentId,AfasId,SynergyId
0,6651,2008-12-14 23:00:00,2009-12-14 23:00:00,24.0,104.00,1248.0,0,2020-02-07 19:22:06.101253000,2020-02-07 19:22:06.101253100,b'\x00\x00\x00\x00\x00\x1bm\x13',2334,None,None
1,6652,2009-12-14 23:00:00,2010-06-14 22:00:00,24.0,104.00,1248.0,0,2020-02-07 19:22:06.101253200,2020-02-07 19:22:06.101253200,b'\x00\x00\x00\x00\x00\x1bm\x14',2334,None,None
2,6654,2010-06-14 22:00:00,2016-03-31 22:00:00,24.0,104.00,1248.0,0,2020-02-07 19:22:06.101253300,2020-02-07 19:22:06.101253300,b'\x00\x00\x00\x00\x00\x1bm\x16',2334,None,None
3,6684,2016-03-31 22:00:00,2019-09-30 22:00:00,20.0,86.67,1040.0,0,2020-02-07 19:22:06.101253400,2020-11-02 09:34:21.597515400,b'\x00\x00\x00\x00\x00\x1bm4',2334,None,None
4,6712,2019-09-30 22:00:00,2020-02-29 23:00:00,17.0,73.67,884.0,0,2020-02-07 19:22:06.101253600,2020-11-02 09:34:05.671526900,b'\x00\x00\x00\x00\x00\x1bmP',2334,None,None
5,13246,2020-02-29 23:00:00,2021-08-31 22:00:00,15.0,65.00,780.0,0,2020-02-18 13:22:15.353947900,2020-02-18 13:22:15.353949400,b'\x00\x00\x00\x00\x00\x1b\x86\xb3',2334,None,None
6,13247,2021-08-31 22:00:00,NaT,17.0,73.67,884.0,0,2020-02-18 13:22:37.052419900,2020-02-18 13:22:37.052421000,b'\x00\x00\x00\x00\x00\x1b\x86\xb4',2334,None,None

In [5]:
display(df[df['RelationId'].isna()])

,Id,TimeSlotType,EmployeeId,RelationId,ProductId,FromUtc,UntilUtc,BreakFromUtc,BreakUntilUtc,CreatedOnUTC,...,SalaryStatus,SourceSystem,StatusAccordingToRelation,CreatedFromObjectsJson,UnApproveIsBlockedByExternalApplication,OnActionListEmployees,OnActionListRelations,TrackAndTraceCode,RouteId,AfasId
78,161414,1,7483,<NA>,<NA>,2022-06-09 07:00:00,2022-06-09 09:00:00,NaT,NaT,2020-02-07 21:00:00.713871300,...,<NA>,0,<NA>,None,<NA>,<NA>,<NA>,None,<NA>,<NA>
103,115909,1,4675,<NA>,<NA>,2022-06-09 11:00:00,2022-06-09 14:00:00,NaT,NaT,2020-02-07 20:44:33.478916500,...,<NA>,0,<NA>,None,<NA>,<NA>,<NA>,None,<NA>,<NA>
104,115910,1,4675,<NA>,<NA>,2022-06-09 07:00:00,2022-06-09 10:00:00,NaT,NaT,2020-02-07 20:44:33.478916000,...,<NA>,0,<NA>,None,<NA>,<NA>,<NA>,None,<NA>,<NA>
148,224945,1,7521,<NA>,<NA>,2022-06-09 07:00:00,2022-06-09 09:00:00,NaT,NaT,2020-02-07 21:23:51.834358600,...,<NA>,0,<NA>,None,<NA>,<NA>,<NA>,None,<NA>,<NA>
159,271969,1,7534,<NA>,<NA>,2022-06-09 06:30:00,2022-06-09 08:30:00,NaT,NaT,2020-02-07 21:39:23.235952700,...,<NA>,0,<NA>,None,<NA>,<NA>,<NA>,None,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3711,4233078,1,7565,<NA>,<NA>,2022-06-13 05:00:00,2022-06-13 21:00:00,NaT,NaT,2022-04-12 06:05:07.580714500,...,<NA>,0,<NA>,None,<NA>,<NA>,<NA>,None,<NA>,<NA>
3712,4233079,1,7565,<NA>,<NA>,2022-06-11 05:00:00,2022-06-11 21:00:00,NaT,NaT,2022-04-12 06:05:08.072402000,...,<NA>,0,<NA>,None,<NA>,<NA>,<NA>,None,<NA>,<NA>
3713,4233080,1,7565,<NA>,<NA>,2022-06-10 05:00:00,2022-06-10 21:00:00,NaT,NaT,2022-04-12 06:05:08.466192600,...,<NA>,0,<NA>,None,<NA>,<NA>,<NA>,None,<NA>,<NA>
3714,4233082,1,7565,<NA>,<NA>,2022-06-09 05:00:00,2022-06-09 21:00:00,NaT,NaT,2022-04-12 06:05:09.023685800,...,<NA>,0,<NA>,None,<NA>,<NA>,<NA>,None,<NA>,<NA>
3715,4233083,1,17666,<NA>,<NA>,2022-06-08 05:00:00,2022-06-08 20:00:00,NaT,NaT,2022-04-12 06:05:09.650042200,...,<NA>,0,<NA>,None,<NA>,<NA>,<NA>,None,<NA>,<NA>

In [6]:
df=extract.check_read_recurring()

In [7]:
# for c in df.columns:
#     print("---- %s ---" % c)
#     print(df[c].value_counts())
print(df.shape)
df2=df.groupby(["RelationId", "FromUtc"]).size().reset_index(name="Time")
display(df2[(df2['Time']>1) & (df2['RelationId']!=996)])
display(df[(df['RelationId']==28918) & (df['FromUtc']=="2022-12-17 10:00:00")])
# display(df)

(441047, 39)

        RelationId             FromUtc  Time
10566         3816 2020-01-08 12:00:00     2
10567         3816 2020-01-15 12:00:00     2
10568         3816 2020-01-22 12:00:00     2
10569         3816 2020-01-29 12:00:00     2
10608         3816 2020-12-02 12:00:00     2
...            ...                 ...   ...
385575       28918 2022-12-17 10:00:00     2
385576       28918 2022-12-20 10:00:00     2
385577       28918 2022-12-24 10:00:00     2
385578       28918 2022-12-27 10:00:00     2
385579       28918 2022-12-31 10:00:00     2

[11302 rows x 3 columns]

,Id,TimeSlotType,EmployeeId,RelationId,ProductId,FromUtc,UntilUtc,BreakFromUtc,BreakUntilUtc,CreatedOnUTC,...,SalaryStatus,SourceSystem,StatusAccordingToRelation,CreatedFromObjectsJson,UnApproveIsBlockedByExternalApplication,OnActionListEmployees,OnActionListRelations,TrackAndTraceCode,RouteId,AfasId
370504,4056832,2,<NA>,28918,34,2022-12-17 10:00:00,2022-12-17 10:40:00,NaT,NaT,2022-03-01 09:25:28.382340800,...,<NA>,0,<NA>,None,<NA>,<NA>,False,None,4,<NA>
399731,4152569,2,<NA>,28918,85,2022-12-17 10:00:00,2022-12-17 10:40:00,NaT,NaT,2022-03-28 13:01:04.563463300,...,<NA>,0,<NA>,None,<NA>,<NA>,False,None,4,<NA>